.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.footer__copyright {
  margin: 0;
  color: #212121;
  opacity: 70%;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0%;
}
