.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
}

.modal__container_type_preview {
  width: auto;
  max-width: 90vw;
  margin: 0 auto;
  padding: 0;
  position: relative;
  background: transparent;
  border-radius: 8px;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  padding: 0;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/CloseGrey.svg);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  border: none;
  cursor: pointer;
  opacity: 40%;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-btn_type_preview {
  background-image: url(../images/CloseIcon.svg);
  opacity: 1;
  position: absolute;
  top: 8px;
  right: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.modal__close-btn_type_preview:hover {
  background-image: url(../images/CloseHover.svg);
}

.modal__caption {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
  background-color: #212121;
  border-radius: 8px;
  margin: 8px 0px 0px;
  width: fit-content;
  padding: 10px 15px;
  white-space: normal;
  overflow-wrap: break-word;
  box-sizing: border-box;
  text-align: center;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  color: #212121b2;
  cursor: pointer;
  border: 1px;
}

.modal__input:not(:placeholder-shown) {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
  color: #212121;
  opacity: 1;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
}

.modal__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  padding: 18px 0px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  gap: 8px;
  cursor: pointer;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  position: relative;
  border: none;
  transition: background 0.3s;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 22px 12px 12px;
    object-fit: contain;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input:not(:placeholder-shown) {
    font-size: 16px;
  }

  .modal__submit-btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    align-self: center;
    width: 100%;
    max-width: 276px;
  }

  .modal__container_type_preview {
    padding: 0;
    max-width: 90vw;
    width: auto;
  }

  .modal__close-btn_type_preview {
    top: -60px;
    right: 0;
    position: absolute;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__image {
    max-width: 90vw;
    max-height: 75vh;
    width: auto;
  }
}
