.profile {
  display: flex;
  padding: 34px 0 24px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
  overflow: hidden;
  max-width: 420px;
  text-overflow: ellipsis;
}

.profile__description {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  background-image: url(../images/Pencil.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: left center;
  align-items: center;
  padding-left: 24px;
  margin-top: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  gap: 8px;
  cursor: pointer;
  color: #212121;
  background-color: transparent;
  opacity: 70%;
  white-space: nowrap;
  border: none;
  display: flex;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  align-items: center;
  align-self: end;
  margin-left: auto;
  justify-content: center;
  padding: 18px 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  gap: 8px;
  cursor: pointer;
  color: #fcf5e5;
  background-color: #212121;
  border-radius: 8px;
  position: relative;
  border: none;
  width: 157px;
  height: 52px;
}

.profile__add-btn::before {
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(../images/plus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.profile__add-btn:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    max-width: 288px;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-bottom: 12px;
    margin-right: 0;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin-right: 0;
    text-align: center;
  }

  .profile__edit-btn {
    display: block;
    margin: 0 auto 10px auto;
    font-size: 16px;
    width: fit-content;
  }

  .profile__add-btn {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    align-self: center;
    width: 100%;
    max-width: 288px;
  }
}
